doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill A01
    link(rel='stylesheet', href='./css/a01.css')
  body
    h1 Drill A01

    input(type='text' placeholder='First Name')#first
    input(type='text' placeholder='Last Name')#last
    input(type='text' placeholder='Fav. Movie')#movie
    button#go Make String
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/a01.js')
