doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill A04
    link(rel='stylesheet', href='./css/a04.css')
  body
    h1 Drill A04

    input(type='text' placeholder='Numbers')#nums
    button#go Random Array Cubed
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/a04.js')
